In [1]:
import pandas as pd
import requests
import config
import pprint
import numpy

In [2]:
api_key = config.api_key
#api_key

In [3]:
def get_coli_json(api_key):
    url = "https://www.numbeo.com/api/rankings_by_city_current"
    r = requests.get(url, params={"api_key": api_key, "section":"1"})
    if r.status_code == 200:
        r_json = r.json()
        return r_json
    else:
        return None

In [4]:
response = get_coli_json(api_key)

In [5]:
#pprint.pprint(response)

In [6]:
country_us = []
coli = []
city = []
purchasing_power = []
cityid = []

In [7]:
response = get_coli_json(api_key)
for r in response:
    if r["country"] == "United States":
        #rank.append(i),
        country_us.append(r["country"])
        coli.append(r["cpi_index"])
        city.append(r["city_name"])
        purchasing_power.append(r["purchasing_power_incl_rent_index"])
        cityid.append(r["city_id"])

In [8]:
rank = numpy.arange(1, len(country_us)+1, dtype = list)
len(rank)

58

In [9]:
len(country_us)

58

In [10]:
raw_data = {
    "Rank": rank,
    "City ID": cityid,
    "City": city,
    "Country": country_us,
    "Cost Of Living Index": coli, 
    "Purchasing Power": purchasing_power
    
}

d = pd.DataFrame(raw_data)
df_COLI = d.set_index("Rank")
df_COLI.head()

,City ID,City,Country,Cost Of Living Index,Purchasing Power
Rank,,,,,
1,3455,"New York, NY",United States,100.000000,100.000000
2,3483,"San Francisco, CA",United States,91.466340,136.044823
3,3389,"Anchorage, AK",United States,91.294352,118.481542
4,3427,"Honolulu, HI",United States,89.633705,88.328330
5,9925,"Brooklyn, NY",United States,88.758583,92.983026

In [11]:
df_COLI.to_csv("Output_Data/COLI.csv")

In [12]:
df_COLI.count()

City ID                 58
City                    58
Country                 58
Cost Of Living Index    58
Purchasing Power        58
dtype: int64