In [1]:
%load_ext blackcellmagic

In [2]:
import pandas as pd
import requests
import config
import pprint
import numpy

In [3]:
api_key = config.api_key
#api_key

In [4]:
def get_coli_json(api_key):
    url = "https://www.numbeo.com/api/rankings_by_city_current"
    r = requests.get(url, params={"api_key": api_key, "section": "1"})
    if r.status_code == 200:
        r_json = r.json()
        return r_json
    else:
        return None

In [5]:
response = get_coli_json(api_key)

In [6]:
#pprint.pprint(response)

In [7]:
country_us = []
coli = []
city = []
purchasing_power = []
cityid = []
top_cities = []
topcities_coli = []

In [8]:
response = get_coli_json(api_key)
for r in response:
    if r["country"] == "United States":
        #rank.append(i),
        country_us.append(r["country"])
        coli.append(r["cpi_index"])
        city.append(r["city_name"])
        purchasing_power.append(r["purchasing_power_incl_rent_index"])
        cityid.append(r["city_id"])

In [9]:
rank = numpy.arange(1, len(country_us)+1, dtype = list)
len(rank)

58

In [10]:
len(country_us)

58

In [11]:
top_cities_l = ["New York", "San Francisco","Washington", "Oakland", "Seattle", "Boston", "Chicago", "Minneapolis", "Baltimore", "Austin"]
len(top_cities_l)

10

In [12]:
response = get_coli_json(api_key)
for r1 in response:
    if r1["city_name"][:-4] in top_cities_l:
        top_cities.append(r1["city_name"][:-4])
        topcities_coli.append(r1["cpi_index"])

In [13]:
len(top_cities)

10

In [14]:
len(topcities_coli)

10

In [15]:
raw_data = {
    "Rank": rank,
    "City ID": cityid,
    "City": city,
    "Country": country_us,
    "Cost Of Living Index": coli, 
    "Purchasing Power": purchasing_power
    
}

d = pd.DataFrame(raw_data)
df_COLI = d.set_index("Rank")
df_COLI.head()

,City ID,City,Country,Cost Of Living Index,Purchasing Power
Rank,,,,,
1,3455,"New York, NY",United States,100.000000,100.000000
2,3483,"San Francisco, CA",United States,91.507252,135.903875
3,3389,"Anchorage, AK",United States,91.361598,118.436031
4,3427,"Honolulu, HI",United States,89.699727,88.294402
5,9925,"Brooklyn, NY",United States,88.820493,92.949292

In [16]:
df_COLI.to_csv("Output_Data/COLI.csv")

In [17]:
df_COLI.count()

City ID                 58
City                    58
Country                 58
Cost Of Living Index    58
Purchasing Power        58
dtype: int64

In [18]:
raw_data_top_cities = {
    "City": top_cities,
    "Cost Of Living Index": topcities_coli, 
       
}

df_COLInew = pd.DataFrame(raw_data_top_cities)
#df_COLInew = d.set_index("Rank")
df_COLInew

            City  Cost Of Living Index
0       New York            100.000000
1  San Francisco             91.507252
2     Washington             87.743153
3        Oakland             86.505425
4        Seattle             85.768964
5         Boston             82.871320
6        Chicago             80.184890
7    Minneapolis             76.704004
8      Baltimore             74.292053
9         Austin             67.793641

In [19]:
df_COLInew.count()

City                    10
Cost Of Living Index    10
dtype: int64

In [20]:
df_COLI.to_csv("Output_Data/COLI_new.csv")