In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import pprint
import json
import re
import os

df = pd.read_csv("indeed_data.csv")
indeed_df = df
# Output File (CSV)
output_data_file = "cleaned_indeed_jobs.csv"

In [2]:
#filename1 = os.path.join("..", "School population by city.csv")
filename1 = os.path.join("..", "CollegeNavigator_Search_2020-01-12_17.22.27.csv")
df_student = pd.read_csv(filename1)
df_student.head()

,Name,Address,Website,Type,Awards offered,Campus setting,Campus housing,Student population,Undergraduate students,Graduation Rate,Transfer-Out Rate,Cohort Year *,Net Price **,Largest Program,IPEDS ID,OPE ID
0,Alabama A & M University,"4900 Meridian Street, Normal, Alabama 35762",www.aamu.edu/,"4-year, Public",Less than one year certificate|Bachelor's degr...,City: Midsize,Yes,6106.0,5143.0,27%,42%,Fall 2012,"$13,956",-,100654.0,100200.0
1,Alabama State University,"915 S Jackson Street, Montgomery, Alabama 3610...",www.alasu.edu,"4-year, Public",Bachelor's degree|Postbaccalaureate certificat...,City: Midsize,Yes,4413.0,3903.0,30%,37%,Fall 2012,"$13,029",-,100724.0,100500.0
2,Albany State University,"504 College Drive, Albany, Georgia 31705",https://www.asurams.edu/,"4-year, primarily associate's, Public",Less than one year certificate|One but less th...,City: Small,Yes,6371.0,6001.0,19%,48%,Fall 2012,"$12,569",-,138716.0,154400.0
3,Alcorn State University,"1000 ASU Dr Ste 359, Alcorn State, Mississippi...",www.alcorn.edu,"4-year, Public",Associate's degree|Bachelor's degree|Master's ...,Rural: Remote,Yes,3658.0,3173.0,40%,NaN,Fall 2012,"$14,923",-,175342.0,239600.0
4,Angelo State University,"2601 W. Avenue N, San Angelo, Texas 76909",www.angelo.edu,"4-year, Public",Less than one year certificate|Bachelor's degr...,City: Midsize,Yes,10387.0,8672.0,34%,39%,Fall 2012,"$11,558",-,222831.0,354100.0

In [3]:
cityval = []
city_student = []

In [4]:
# Create a dataframe with Cost of Living Index for all the cities 

filename = os.path.join("..", "Cost_Of_Living_Output_Data", "COLI.csv")
df_COLI_complete = pd.read_csv(filename)
df_COLI_complete["City"] = df_COLI_complete["City"].str.slice(0, -4)
df_COLI_complete = df_COLI_complete.drop(["Rank", "City ID", "Country", "Purchasing Power" ], axis =1)
df_COLI_complete.head()
cities = list(df_COLI_complete["City"])

In [5]:
len(df_student["Address"])

503

In [6]:
len(cities)
population = []

In [7]:
for addr in df_student["Address"]:
    for val in cities:
        if addr.find("val") != -1:
            cityval.append(val)
            population.append(df_student["Student population"])

In [8]:
#for addr in df_student["Address"]:
    #cityval.append([val for val in cities if(val in str(addr))])
    #cityval.append(any(ele in addr for ele in cities))
#    cityval.append(s for s in cities if any(xs in s for xs in addr))

In [9]:
len(cityval)

174

In [13]:
len(population)
cityval

174

In [18]:
student_data = {"City": cityval,
        "Student Population": population
       }
df_student_city_population = pd.DataFrame(student_data)

df_student_city_population.head()

            City                                 Student Population
0       New York  0       6106.0
1       4413.0
2       6371.0
3...
1  San Francisco  0       6106.0
1       4413.0
2       6371.0
3...
2      Anchorage  0       6106.0
1       4413.0
2       6371.0
3...
3       Honolulu  0       6106.0
1       4413.0
2       6371.0
3...
4       Brooklyn  0       6106.0
1       4413.0
2       6371.0
3...