# Which cities are the best for data science jobs in the USA?
* Parameters used to determine which cities are best:
   * Cost of living
   * Average Salary
   * Number of jobs in each city for Data Science

In [ ]:
# Import the dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import pprint
import json
import re
import csv
import os

## Data pulled from Indeed API
    * Number of jobs per city is calculated

In [ ]:
# Exporting the data and creating a DataFrame
df = pd.read_csv("Output_Files/indeed_data.csv")
indeed_df = df
# Output File (CSV)
output_data_file = "../Output_Files/cleaned_indeed_jobs.csv"
indeed_df.drop("onmousedown", axis=1, inplace=True)
indeed_df.drop("indeedApply", axis=1, inplace=True)
indeed_df.drop("expired", axis=1, inplace=True)
indeed_df.drop("formattedLocationFull", axis=1, inplace=True)
unique_df = indeed_df.groupby(["formattedLocation"])["jobtitle"].count()

In [ ]:
name_list = [unique_df.index[i].split(', ') for i in range(0, len(unique_df.index))]
name_list = [e[0] for e in name_list]
unique_df.index = name_list
unique_df = unique_df.to_frame()
unique_df = unique_df.reset_index()
unique_df.head()

## Cost of Living for different cities is pulled from Numbeo API

In [ ]:
# Create a dataframe with Cost of Living Index for all the cities 
df_COLI_complete = pd.read_csv("Output_Files/COLI.csv")
df_COLI_complete["City"] = df_COLI_complete["City"].str.slice(0, -4)
df_COLI_complete = df_COLI_complete.drop(["Rank", "City ID", "Country", "Purchasing Power" ], axis =1)
#df_COLI_complete.head()

## Number of Students enrolled in 4 years degree Public university CSV pulled from "National Center for Education Statistics"

In [ ]:
df_student = pd.read_csv("Output_Files/School population by city.csv")
df_student = df_student.rename(columns={"Row Labels": "City"})

df_student["City"] =[df_student["City"][i].lstrip() for i in range(0, len(df_student["City"]))]
df_student.head()

## Merged the data for Cost of living, Number of Students

In [ ]:
# Create a dataframe with Cost of Living Index and Student population for all the cities 
df_col_complete_student = pd.merge(df_COLI_complete, df_student, how="left", on="City")
df_col_complete_student.head()

# Merged the data for Cost of living, Number of Students and Number of Jobs on "City"

In [ ]:
df_coli_complete_student_jobs = pd.merge(df_col_complete_student, unique_df, how="left", left_on="City", right_on="index")
df_coli_complete_student_jobs.drop("index", axis=1, inplace=True)
df_coli_complete_student_jobs.rename(columns={"jobtitle": "No.of Jobs"}, inplace=True)
df_coli_complete_student_jobs.head()

In [ ]:
# Upload average salaries from glassdoor
df_salary = pd.read_csv("Output_Files/COLI w average salary.csv")

df_salary["City"] = [df_salary["City"][i].split(', ')[0] for i in range(0, len(df_salary["City"]))]
#df_salary.head()

## Merged the salary data from glassdoor to the dataframe

In [ ]:
df_coli_complete_student_jobs_salary = pd.merge(df_coli_complete_student_jobs, df_salary, how="left", left_on="City", right_on="City")
df_coli_complete_student_jobs_salary = df_coli_complete_student_jobs_salary.drop(["Rank", "City ID", "Country", "Purchasing Power", "Cost Of Living Index_y"], axis =1)
df_coli_complete_student_jobs_salary = df_coli_complete_student_jobs_salary.rename(columns={"Cost Of Living Index_x": "Cost Of Living Index"})
df_coli_complete_student_jobs_salary.head()

## Merged the Average Salary information

In [ ]:
cities = df_COLI_complete["City"]

In [ ]:
avg_salary = [134331.00, 161743.00, 103574.00, 100336.00, 100336.00, 125697.00, 92615.00, 123915.00, 123915.00,
              155451.00, 115912.00, 93041.00, 122194.00, 146202.00, 114914.00, 100372.00, 108227.00, 108994.00,
              120914.00, 104564.00, 115589.00, 114337.00, 129231.00, 106862.00, 100161.00, 112906.00, 112906.00,
              134233.00, 116869.00, 105176.00, 114054.00, 95440.00, 105575.00, 161022.00, 102829.00, 114153.00, 
              110652.00, 94649.00, 115614.00, 84254.00, 114744.00, 93872.00, 145960.00, 101190.00, 126357.00,
              96366.00, 100331.00, 127686.00, 115351.00, 119778.00, 99338.00, 110173.00, 95783.00, 114947.00, 
              115129.00, 94929.00, 95729.00, 90917.00]

In [ ]:
df_indeed_salary = pd.DataFrame({"Avg Salary Indeed": avg_salary,
                                "City": cities
                                })

In [ ]:
df_col_complete_student_jobs_salary_final = pd.merge(df_coli_complete_student_jobs_salary, df_indeed_salary, how="left", left_on="City", right_on="City")
df_col_complete_student_jobs_salary_final = df_col_complete_student_jobs_salary_final[['City', 'No.of Jobs', 'Avg Salary Indeed', 'Cost Of Living Index',
                                                'Sum of Student population', 'Data Science Average Salary', 'Data Scientist Low',
                                                'Data Scientist High','Average Pay vs National Avg', 'Data Analyst Average Salary',
                                                'Data Analyst Low', 'Data Analysts High', 'Average Pay vs National Avg.1', 
                                                'Data Engineer Average Salary','Data Engineer Low', 'Data Engineer High', 
                                                'Average Pay vs National Avg.2', 'Data Architect Average Salary', 
                                                'Data Architect Low', 'Data Architect High', 'Average Pay vs National Avg.3']]
df_col_complete_student_jobs_salary_final.head()

## Calculated the a Normalized Index as = (1/(%Cost Of Living Index)) x Avg Salary / NY Avg Salary

In [ ]:
# Extracting the salary of New york into a variable
New_York_Salary = df_col_complete_student_jobs_salary_final.loc[df_col_complete_student_jobs_salary_final['City'] == "New York"]["Avg Salary Indeed"]
# Calculate the index based on average salary and cost of living of every city and normalize it for New york
list = np.array([(100*df_col_complete_student_jobs_salary_final["Avg Salary Indeed"][i]/\
                                                           df_col_complete_student_jobs_salary_final["Cost Of Living Index"][i])/New_York_Salary for i in range(0,len(df_col_complete_student_jobs_salary_final))]).tolist()
# Flattening the list of lists and assigning it to a new coloumn in dataframe
df_col_complete_student_jobs_salary_final["SalaryCOLIndex"] = [y for x in list for y in x]
# Rearranging the order of the columns as desired
df_col_complete_student_jobs_salary_final =df_col_complete_student_jobs_salary_final[['City', 'No.of Jobs', 'Avg Salary Indeed','Cost Of Living Index',"SalaryCOLIndex", 'Sum of Student population',
        'Data Science Average Salary', 'Data Scientist Low',
       'Data Scientist High', 'Average Pay vs National Avg',
       'Data Analyst Average Salary', 'Data Analyst Low', 'Data Analysts High',
       'Average Pay vs National Avg.1', 'Data Engineer Average Salary',
       'Data Engineer Low', 'Data Engineer High',
       'Average Pay vs National Avg.2', 'Data Architect Average Salary',
       'Data Architect Low', 'Data Architect High',
       'Average Pay vs National Avg.3']]
#df_col_complete_student_jobs_salary_final.head()

## Complete dataFrame

In [ ]:
df_col_complete_student_jobs_salary_final.head()

In [ ]:
df_col_complete_student_jobs_salary_final = df_col_complete_student_jobs_salary_final.sort_values(by=['No.of Jobs'], ascending=False)
df_col_complete_student_jobs_salary_final.head()

# Graph for cities Vs. Normalized Cost Of Living ndex

In [ ]:
# Graph to plot number of cureent jobs Vs Citites
df_SalaryCOLIndex_Cities = df_col_complete_student_jobs_salary_final.sort_values(by=['SalaryCOLIndex'], ascending=False)
#df_SalaryCOLIndex_Cities.columns
df_SalaryCOLIndex_Cities = df_SalaryCOLIndex_Cities[['City', 'No.of Jobs', 'Avg Salary Indeed','Cost Of Living Index',"SalaryCOLIndex"]]
df_SalaryCOLIndex_Cities.head()
#df_final["SalaryCOLIndex"].values
plt.figure(figsize=(20,10))
plt.xlabel("City")
plt.title("City Vs Cost Of lIving Index")
plt.xticks(rotation='vertical')
# plt.yticks(ticks=df_final["SalaryCOLIndex"], labels=df_final["SalaryCOLIndex"].values.tolist())
plt.bar(df_SalaryCOLIndex_Cities["City"],df_SalaryCOLIndex_Cities["SalaryCOLIndex"] -1)
plt.show()
# Save t he plots in another folder
plt.savefig("Plots/CitiesVsCOLI.png")

# Graph to plot education requuirements with count for DataScience jobs

In [ ]:
# Education requirement for the Jobs
def has_bachelor(s):
    return (
        bool(re.search(r"bachelors?'?s?", s, re.IGNORECASE)) or
        bool(re.search(r"\sB\.?A\.?\s", s, re.IGNORECASE)) or
        bool(re.search(r"\sB\.?S\.?\s", s, re.IGNORECASE))
    )
def has_masters(s):
    return (
        bool(re.search(r"masters?'?s?\s", s, re.IGNORECASE)) or
        bool(re.search(r"\sM\.?A\.?\s", s, re.IGNORECASE)) or
        bool(re.search(r"\sM\.?S\.?\s", s, re.IGNORECASE)) or
        bool(re.search(r"M\.?B\.?A\.?\s", s, re.IGNORECASE))
    )
def has_phd(s):
    return(
        (bool(re.search(r"Ph\.?d", s, re.IGNORECASE))) 
    )
education_df = pd.DataFrame({
    "Bachelor's": indeed_df["snippet"].apply(has_bachelor).value_counts(())[1],
    "Master's": indeed_df["snippet"].apply(has_masters).value_counts(())[1],
    "Phd": indeed_df["snippet"].apply(has_phd).value_counts(())[1],
},index=["Count"])
education_df.plot(kind='bar', figsize=(16,8))
education_df
# Save t he plots in another folder
plt.savefig("Plots/EducationVSCount.png")

# Number of years of experience requirement for the Jobs

In [ ]:
def extract_years_only(s):
    results = re.findall(r"([0-9]*)\+?.[yY]ear.*", s)
    if results and results[0]:
        return int(results[0])
    else:
        return np.nan

In [ ]:
years = df["snippet"].apply(lambda s: extract_years_only(s))
df_years=pd.DataFrame(years.value_counts().sort_index())

In [ ]:
df_years=df_years.rename(columns={"snippet":"No. of jobs"})
df_years.index.name ="Required No.of Years of Experience"
df_years.plot(kind='bar', figsize=(16,8))
# Save t he plots in another folder
plt.savefig("Plots/YearsofExpVsJobCount.png")

In [ ]:
df_years["No. of jobs"].sum()

# Which Technology skills are in most demand

In [ ]:
def extract_tech_count(s, tech):
    result_count = re.findall(tech, s)

    if result_count:
        return len(result_count)
    else:
        return np.nan

In [ ]:
df_tech = pd.DataFrame(columns={"Tech", "No.ofJobs"})
tech_list = ["Python"," R ","SQL","Tableau", "Java", "AWS", "Hadoop", "Spark", "Machine Learning", "AI", "Excel"]

sample = df["snippet"]

for tech in tech_list:
    count =0
    job_tech = sample.apply(lambda s: extract_tech_count(s, tech))
  
    for i in range(0, len(job_tech)):
   
        if(pd.notna(job_tech[i])):
            count += 1
        else:
            continue
    tech_list_count = pd.DataFrame({"Tech":[tech], "No.ofJobs":[count]})
    df_tech = df_tech.append(tech_list_count)

df_tech = df_tech.sort_values(by = "No.ofJobs", ascending = False)
df_tech.set_index("Tech")
plt.figure(figsize=(16,8))
plt.bar(df_tech["Tech"],df_tech["No.ofJobs"] )
plt.xticks(rotation=45)
# Save t he plots in another folder
plt.savefig("Plots/TechnologyVsCount.png")