In [1]:
%load_ext blackcellmagic

In [2]:
import pandas as pd
import requests
import config
import pprint
import numpy

In [3]:
api_key = config.api_key
#api_key

In [4]:
def get_coli_json(api_key):
    url = "https://www.numbeo.com/api/rankings_by_city_current"
    r = requests.get(url, params={"api_key": api_key, "section": "1"})
    if r.status_code == 200:
        r_json = r.json()
        return r_json
    else:
        return None

In [5]:
response = get_coli_json(api_key)

In [6]:
#pprint.pprint(response)

In [7]:
country_us = []
coli = []
city = []
purchasing_power = []
cityid = []
top_cities = []
topcities_coli = []

In [8]:
response = get_coli_json(api_key)
for r in response:
    if r["country"] == "United States":
        #rank.append(i),
        country_us.append(r["country"])
        coli.append(r["cpi_index"])
        city.append(r["city_name"])
        purchasing_power.append(r["purchasing_power_incl_rent_index"])
        cityid.append(r["city_id"])

In [9]:
rank = numpy.arange(1, len(country_us)+1, dtype = list)
len(rank)

58

In [10]:
len(country_us)

58

In [11]:
top_cities_l = ["New York", "San Francisco" , "Seattle", "Boston", "Chicago", "Austin", "Charlotte", "Washington", "Atlanta" , "Reston"]
len(top_cities_l)

10

In [12]:
response = get_coli_json(api_key)
for r1 in response:
    if r1["city_name"][:-4] in top_cities_l:
        top_cities.append(r1["city_name"][:-4])
        topcities_coli.append(r1["cpi_index"])

In [13]:
raw_data = {
    "Rank": rank,
    "City ID": cityid,
    "City": city,
    "Country": country_us,
    "Cost Of Living Index": coli, 
    "Purchasing Power": purchasing_power
    
}

d = pd.DataFrame(raw_data)
df_COLI = d.set_index("Rank")
df_COLI.head()

,City ID,City,Country,Cost Of Living Index,Purchasing Power
Rank,,,,,
1,3455,"New York, NY",United States,100.000000,100.000000
2,3483,"San Francisco, CA",United States,91.280893,136.322043
3,3389,"Anchorage, AK",United States,91.135599,118.800451
4,3427,"Honolulu, HI",United States,89.477840,88.566078
5,9925,"Brooklyn, NY",United States,88.600780,93.235291

In [14]:
df_COLI.to_csv("Cost_Of_Living_Output_Data/COLI.csv")

In [15]:
df_COLI.count()

City ID                 58
City                    58
Country                 58
Cost Of Living Index    58
Purchasing Power        58
dtype: int64

In [16]:
raw_data_top_cities = {
    "City": top_cities,
    "Cost Of Living Index": topcities_coli, 
       
}

df_COLInew = pd.DataFrame(raw_data_top_cities)
#df_COLInew = d.set_index("Rank")

In [17]:
df_COLInew.count()

City                    9
Cost Of Living Index    9
dtype: int64

In [18]:
df_COLInew.to_csv("Cost_Of_Living_Output_Data/COLI_new.csv")